<app-header
  [title]="product ? 'Actualizar Producto' : 'Agregar Producto'"
  [isModal]="true"
></app-header>
<ion-content>
  <form
    class="ion-padding ion-text-center"
    [formGroup]="form"
    (ngSubmit)="submit()"
    (keypress.enter)="submit()"
  >
    <!-- Display Image -->
    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>

    <ion-icon
      *ngIf="!form.value.image"
      class="image-icon"
      name="image-outline"
    ></ion-icon>

    <br />
    <!-- Take/Select Image -->
    <ion-button (click)="takeImage()" size="small" shape="round" mode="ios">
      Tomar/Seleccionar
    </ion-button>

    <!-- Product Name -->
    <app-custom-input
      autocomplete="name"
      [control]="form.controls.name"
      type="text"
      label="Nombre"
    ></app-custom-input>

    <div
      class="validators"
      *ngIf="form.controls.name.errors && form.controls.name.touched"
    >
      <div *ngIf="form.controls.name.errors?.['required']">
        El campo es requrido
      </div>
      <div *ngIf="form.controls.name.errors?.['minlenght']">
        el nombre debe tener al menos 4 caracteres
      </div>
    </div>

    <!-- Price -->
    <app-custom-input
      type="number"
      label="Precio"
      [control]="form.controls.price"
    ></app-custom-input>

    <div
      class="validators"
      *ngIf="form.controls.price.errors && form.controls.price.touched"
    >
      <div *ngIf="form.controls.price.errors?.['required']">
        El campo es requrido
      </div>
      <div *ngIf="form.controls.price.errors?.['min']">
        El precio minimo debe ser 0
      </div>
    </div>

    <!-- Sold Units -->
    <app-custom-input
      type="number"
      label="Unidades Vendidas"
      [control]="form.controls.soldUnits"
    ></app-custom-input>

    <div
      class="validators"
      *ngIf="form.controls.soldUnits.errors && form.controls.soldUnits.touched"
    >
      <div *ngIf="form.controls.soldUnits.errors?.['required']">
        El campo es requrido
      </div>
      <div *ngIf="form.controls.soldUnits.errors?.['min']">
        La cantidad minima debe ser 0
      </div>
    </div>

    <ion-button
      type="submit"
      [disabled]="form.invalid"
      shape="round"
      mode="ios"
      class="ion-margin"
    >
      {{ product ? "Actualizar Producto" : "Agregar Producto" }}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
